@import '../../Styles/common.scss';

#Project {
  @extend %flexCenterStart;
  height: 100%;
  padding: $section-padding;

  .project-container {
    width: $web-width;
    margin: 0 auto;
    
    &.show {
      .project-item {
        &:nth-child(2) {
          @include animation (setShow, 1s, 0s);
        }
        &:nth-child(3) {
          @include animation (setShow, 1s, .2s);
        }
        &:nth-child(4) {
          @include animation (setShow, 1s, .4s);
        }
      }
    }
  }
}