@import '../../Styles/common.scss';

#About {
  @extend %flexCenterStart;
  height: 100vh;
  padding: $section-padding;
  background: $gray0;

  .about-container {
    width: $web-width;
    margin: 0 auto;
  }
}