// Variables
$gray0: #f4f4f4;
$gray1: #c0c0c0;
$gray2: #919191;
$gray3: #4a4a4a;
$filter3 : rgba(0, 0, 0, 0.3);
$beach: #29c1bc;
$web-width: 1200px;
$section-padding: 120px 0;
$transition: all .3s ease;
$z_Navbar: 1000;
$z_OneDown: -1;

// Extend
%flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

%flexAlign {
  display: flex;
  align-items: center;
}