@import '../../Styles/common.scss';

#Footer {
  padding: 40px 0;
  color: #ffffff;
  background: $filter3;
  font-size: 14px;
  text-align: center;

  p {
    margin: 10px 0;
    font-size: 14px;
  }
}